.navbar
  position: relative
  &__wrapper
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $light-color
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    &--pd
      &-all
        padding: 14px 50px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    max-width: 100%
    height: 1012px
    background-image: url(../img/header/header-bg.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    z-index: -55
  &__social
    padding: 30px 0
  &__menu-button
    display: none
  &__mobile-menu
    display: none
  &__mobile-lang
    margin-bottom: 40px

.logo
  margin-right: auto
  margin-left: 450px
  width: 137px
  height: 102px
.social
  display: flex
  justify-content: space-between
  align-items: center
  width: 313px
  &__title
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 30px
    text-transform: uppercase
    color: $text-color-dark
  &__line
    width: 48px
    height: 2px
    background-color: $text-color-dark
  &__icon-wrap
    width: 161px
    display: flex
    justify-content: space-between
  &__link
    text-decoration: none
.lang-panel
  justify-self: end
  width: 80px
  &__link
    position: relative
    display: inline-block
    margin-left: 10px
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: 700
    font-size: 16px
    line-height: 20px
    text-decoration: none
    text-transform: uppercase
    color: $text-color-dark
    &--az
      &::after
        content: '/'
        position: absolute
        left: 27px
.mobile-lang
  &__link
    display: inline-block
    margin-right: 10px
    font-family: 'Montserrat', sans-serif
    font-style: normal
    font-weight: 500
    font-size: 14px
    line-height: 20px
    text-decoration: none
    text-transform: uppercase
    text-decoration: none
    text-transform: uppercase
    color: $text-color-dark

.mobile-menu
  position: absolute
  top: 25px
  right: 55px
  padding: 36px 24px 26px
  width: 304px
  background-color: $light-color
  border-radius: 10px
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
  z-index: 111
  &__close
    position: absolute
    top: 20px
    right: 15px
    width: 27px
    height:
    border: none
    background-color: transparent
  &__list
    padding: 0
    list-style: none
  &__item
    margin-bottom: 15px
    &:last-child
      margin-bottom: 0
  &__link
    text-decoration: none
    font-style: normal
    font-weight: 500px
    font-size: 16px
    line-height: 20px
    color: $text-color-dark
